@using Education.Models.Home
@model FeedbackVM

@{
    ViewData["Title"] = "Հետադարձ կապ";
    Layout = "_Layout";
}

<div class="about_content feadback_content">
    <div class="about_right_box">
        <div class="about_title_box">
            <p class="about_title_first">ՀԵՏԱԴԱՐՁ ԿԱՊ</p>
            <p class="about_title_last">ՀԵՏԱԴԱՐՁ ԿԱՊ</p>
        </div>
        <div class="feadback_box">
            <form asp-antiforgery="true" autocomplete="off" onsubmit="return homeFeedbackFunctions.sendFeedback(event, this);">
                <div class="input_wrp">
                    <input type="text" asp-for="FullName"  autocomplete="off" placeholder="Անուն Ազգանուն" autocapitalize="false" />
                </div>
                <div class="input_wrp">
                    <input type="email" asp-for="Email" autocomplete="off" placeholder="Էլ․ հասցե" />
                </div>
                <div class="textarea_wrap">
                    <textarea asp-for="Content" placeholder="Գրեք մեզ"></textarea><br />
                </div>
                <button  type="submit" class="feadbackBtn">Ուղարկել</button>
            </form>
        </div>
    </div>
</div>