@using Education.Models.Home
@model IndexVM

@{
    ViewData["Title"] = "Գլխավոր էջ";
    Layout = "_Layout";
}

<div class="about_content">
    <div class="about_left_box">
        <div>
            <img src="~/images/about.jpg" alt="Project">
        </div>
    </div>
    <div class="about_right_box">
        <div class="about_title_box">
            <p class="about_title_first">ՄԵՐ ՄԱՍԻՆ</p>
            <p class="about_title_last">ՄԵՐ ՄԱՍԻՆ</p>
        </div>
        @Html.Raw(Model.GetAboutUs.UContent)
    </div>
</div>
<div class="midl_content"></div>
<div class="categories_box">
    <div class="category_title_box">
        <p class="category_title_first">ՕԳՏԱԿԱՐ ՀՂՈՒՄՆԵՐ</p>
        <p class="category_title_last">ՕԳՏԱԿԱՐ ՀՂՈՒՄՆԵՐ</p>
    </div>

    <div class="category_product_box">
        @foreach (var item in Model.GetUIUsefulLinks.OrderBy(o => o.Sorting))
        {
            <a target="_blank" href="@item.Url" class="category_product">
                <div class="category_img" style="background-image: url('../Resources/UsefulLinks/@item.UsefulLinksId/@item.Img') "></div>
                <p>@item.UName</p>
                <div class="category_product_description">
                    <p>@item.Description</p>
                </div>
            </a>
        }
    </div>
</div>