@{
    ViewData["Title"] = "Գլխավոր էջ";
    Layout = "_Layout";
}

<div class="about_content">
    <div class="about_left_box">
        <div>
            <img src="~/images/about.jpg" alt="Project">
        </div>
    </div>
    <div class="about_right_box">
        <div class="about_title_box">
            <p class="about_title_first">ՄԵՐ ՄԱՍԻՆ</p>
            <p class="about_title_last">ՄԵՐ ՄԱՍԻՆ</p>
        </div>
        <p class="about_title_text">We provide exclusive Courses</p>
        <p class="about_info">
            We can help you create positive and permanent changes in your life. Let’s Create Something new and awesome Togeather. High Performance WordPress Theme. Let’s Create Something new and awesome Togeather & Best Services. We are the first
            and trusted Business Consulting company in your city. The best service is our goal.
        </p>
        <div class="checked_content">
            <div class="checked_box">
                <img src="~/images/checked.png" alt="Project">
            </div>
            <p>High Quality Education Video</p>
        </div>
        <div class="checked_content">
            <div class="checked_box">
                <img src="~/images/checked.png" alt="Project">
            </div>
            <p>You can learn anything online</p>
        </div>
        <div class="checked_content">
            <div class="checked_box">
                <img src="~/images/checked.png" alt="Project">
            </div>
            <p>We list your options by state</p>
        </div>
        <a href="#" class="btn_more">Know More</a>
    </div>
</div>
<div class="midl_content"></div>
<div class="categories_box">
    <div class="category_title_box">
        <p class="category_title_first">ՕԳՏԱԿԱՐ ՀՂՈՒՄՆԵՐ</p>
        <p class="category_title_last">ՕԳՏԱԿԱՐ ՀՂՈՒՄՆԵՐ</p>
    </div>

    <div class="category_product_box">
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
        <a href="#" class="category_product">
            <div class="category_img"></div>
            <p>IT & Software</p>
        </a>
    </div>
</div>