<header>
    <div class="content-container">
        <h1>@ViewData["Title"]</h1>
        <ul>
            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
</header>