<header>
    <div class="content-container">
        <p>@ViewData["Title"]</p>
        <a asp-controller="Home" asp-action="Index">Կայք</a>
        <a asp-controller="Account" asp-action="Logout">Ելք</a>
    </div>
</header>